NET seven_seg(0) LOC = "L18";
NET seven_seg(1) LOC = "F18";
NET seven_seg(2) LOC = "D17";
NET seven_seg(3) LOC = "D16";
NET seven_seg(4) LOC = "G14";
NET seven_seg(5) LOC = "J17";
NET seven_seg(6) LOC = "H14";

NET en(0) LOC = "F17";
NET en(1) LOC = "H17";
NET en(2) LOC = "C18";
NET en(3) LOC = "F15";

NET clk LOC = "B8";
NET rst LOC = "G18";
